html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Aleo', serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Rasa', serif;
}

.bg-gray{
  background-color: #ffffe0;
}

.connects{
  display: flex;
  justify-content: center;

}

.search{

  background-color: rgba(0,0,0,0.2);

}

.landing{
  background-color: #fc9247;
}

.tagline{
  font-size: large;
}

.btn-center{
  display: flex;
  justify-content: center;
  color: white;

}

.btn-outline-success{
  color: black !important;
  border:2px solid #ffffe0 !important;
  background-color: #ffffe0 !important;

}

#wrapper{
  top:0;
  left: 0;
  margin-top: 20px;

}

.stats{
  display: flex;
  justify-content: center;
  border-radius: 17px 17px 0 0;

}

.services{
  background-color: #fc9247;
}

.card{
  background: #F3F5F7;
  border-radius: 12px;
}

.serve{
  display: flex;
  justify-content: center;
}
.serve img{
  position: relative;
  width: 120px;

  height: 120px;
  border-radius: 50%;
  background: #DBE2E5;
  margin-top: 25px;
  margin-bottom: 25px;
}

.more{
  text-transform: uppercase;
  color: #F3F5F7;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background: #fc9247;
  font-weight: 700;
  font-size: 14px;
}
.more:hover{
  text-decoration: none;
  color: #F3F5F7;
}

.footer{
  background-color: rgba(218, 206, 193, 0.986);
  padding-top: 50px;
  padding-bottom: 80px;
}

ul li{
  list-style-type: none;
  color: black;
  text-decoration: none;
}

li:hover{

  text-decoration-color: #F3F5F7;
}

.bullet{
  color: #fff;
  font-size: large;
}

.headinglead{
  font-size: 200%;
  text-align: center;
}
#marks{
  color: black;
  font-size: 140%;
}
#comment{
  color: black;
}


.foundation{
  padding-bottom: 15px;
  height: 450px;
}

.centre{
  display: flex;
  justify-content: center;
}
.search{
  background-color: rgba(0,0,0,0.4);
  padding: 100px 50px;
}
.height{
  background-color: #fc9247;
  height: 75%;
}

/* trial */

span {
  display: block;
  position: absolute;
  top: calc(50% - 10em);
  left: calc(50% - 10em);
  width: 20em;
  height: 20em;
}

span.spin {
  animation: spin 10s linear infinite;
}

span.spin-reverse {
  animation: spin 30s linear infinite;
}

span.pulse {
  animation: spin-pulse 20s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes spin-pulse {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(0.9) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}



.circle {
  border-radius: 50%;
  left: calc(50% - 6.25em);
  top: calc(50% - 12.5em);
  transform-origin: 50% 12.5em;
}

.squircle {
  border-radius: 25%;
}

.circle, .squircle {
  width: 12.5em;
  height: 12.5em;
  position: absolute;
  border-top: 0.1em solid rgba(255,255,255,0.4);
}

.large.circle {
  box-shadow: 0 1em 2em rgba(0,0,0,0.5);
}

.small {
  width: 4em;
  height: 4em;
  left: calc(50% - 2em);
  top: calc(50% - 15em);
  transform-origin: 50% 15em;
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.2);
}

$transparency: 0.75;

.one {
  background: rgba(232, 117, 36, 1);
  transform: rotateZ(225deg);
}
.two {
  background: rgba(37, 172, 162, 1);
  transform: rotateZ(180deg);
}
.three {
  background: rgba(233, 124, 32, $transparency);
  transform: rotateZ(135deg);
}
.four {
  background: rgba(235, 67, 35, 1);
  transform: rotateZ(90deg);
}
.five {
  background: rgba(190, 28, 65, 1);
  transform: rotateZ(45deg);
}
.six {
  background: rgba(208, 57, 159, 1);
  transform: rotateZ(0);
}
.seven {
  background: rgba(150, 32, 198, 1);
  transform: rotateZ(-45deg);
}
.eight {
  background: rgba(95, 33, 203, 1);
  transform: rotateZ(-90deg);
}

.small.squircle {
  background: none;
  box-shadow: none;

  &::after {
    content: "";
    border-radius: 25%;
    width: 100%;
    height: 100%;
    position: absolute;
    background: red;
    transform: rotateZ(-45deg);
    box-shadow: -0.25em 0.25em 0.5em rgba(0,0,0,0.2);
  }

  &.two::after {
    background: rgba(37, 172, 162, 1);
  }
  &.four::after {
    background: rgba(235, 67, 35, 1);
  }
  &.six::after {
    background: rgba(208, 57, 159, 1);
  }
  &.eight::after {
    background: rgba(95, 33, 203, 1);
  }
}

.large.squircle {
  position: absolute;
  background: rgba(30, 7, 66, 0.65);
  border: none;
  left: calc(50% - 7.5em);
  top: calc(50% - 7.5em);
  width: 15em;
  height: 15em;
  transform: none;

  &.one {
    transform: rotateZ(45deg);
  }
}

.content {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;



  h1 {
    font-weight: lighter;
    font-size: 1.75em;
    margin: 0.25em auto 1em;
    max-width: 6em;
  }

}

.message {
  position: absolute;
  left: 1em;
  bottom: 1em;
  right: 0;
  color: #222;
  text-align: left;

  a {
    text-decoration: none;
    font-weight: bold;
    color: #999;
  }
}
.zing{
  padding-top:20px;
}

/* forums  */

.forums {
  background-color:#fc9247;
  height: 50%;
}

.output {
  text-align:center;
  font-family: 'Rasa', sans-serif;
  color:black;
  h1 {
    font-size:30px;
  }
}

/* Cursor Styling */

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height:24px;
  width:13px;
}
p.cursor::after {
  height:13px;
  width:6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

.tell{
  font-size: 24px;
}

.title{
  font-size: 45px;
  height: 150px;
  max-height: 150px;
  color: #fc9247;
  font-family: 'Calligraffitti', sans-serif;
  text-align: center;
}

.top_stories{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar{
  display: none;
}
.bearer{
  display: flex;
  justify-content: center;
}

.card-img-overlay {
  background-color: rgba(#000, 0.4);
}

.story{
  padding-bottom: 15px;
}

.ongea{
  height: 300px;
  overflow-y: scroll;
  border-radius: 0;
  color: black;
}
.ongea::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}

/* mess */
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
/* .repeat{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} */
.maps{
  background-color: rgba(218, 206, 193, 0.986);
}
.repeat{
  background-color: rgba(218, 206, 193, 0.986);
  margin-top: 3%;
  padding-bottom: 3%;
}
