body{
  font-family: 'Aleo', serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Rasa', serif;
}

.bg-gray{
  background-color: #ffffe0;
}

.connects{
  display: flex;
  justify-content: center;

}

.search{

  background-color: rgba(0,0,0,0.2);

}

.landing{
  background-color: #fc9247;
}

.tagline{
  font-size: large;
}

.btn-center{
  display: flex;
  justify-content: center;
  color: white;

}

.btn-outline-success{
  color: black;
  border:2px solid #ffffe0;
  background-color: #ffffe0;
}

#wrapper{
  top:0;
  left: 0;
  margin-top: 20px;

}

.stats{
  display: flex;
  justify-content: center;
  border-radius: 17px 17px 0 0;

}

.services{
  background-color: #fc9247;
}

.card{
  background: #F3F5F7;
  border-radius: 12px;
}

.serve{
  display: flex;
  justify-content: center;
}
.serve img{
  position: relative;
  width: 120px;

  height: 120px;
  border-radius: 50%;
  background: #DBE2E5;
  margin-top: 25px;
  margin-bottom: 25px;
}

.more{
  text-transform: uppercase;
  color: #F3F5F7;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background: #fc9247;
  font-weight: 700;
  font-size: 14px;
}
.more:hover{
  text-decoration: none;
  color: #F3F5F7;
}
