<form>
    <label for="">1. Has the physical violence increased in severity or frequency over the past year?</label>
        <br>
        <input type="radio" name="Question1">Yes
        <input type="radio" name="Question1">No
        2. Has he ever used a weapon against you or threatened you with a weapon?
        3. Does he ever try to choke you?
        4. Does he own a gun?
        5. Has he ever forced you to have sex when you did not wish to do so?
        6. Does he use drugs? By drugs, I mean “uppers” pr amphetamines, speed, angel dust, cocaine, “crack”, street
        drugs or mixtures.
        7. Does he threaten to kill you and/or do you believe he is capable of killing you?
        8. Is he drunk every day or almost every day? (In terms of quantity of alcohol.)
        9. Does he control most or all of your daily activities? For instance: does he tell you who you can be friends
        with, when you can see your family, how much money you can use, or when you can take the car? (If he
        tries, but you do not let him, check here:____)
        10. Have you ever been beaten by him while you were pregnant? (If you have never been pregnant by him,
        check here: ____)
        11. Is he violently and constantly jealous of you? (For instance, does he say “If I can’t have you, no one can.”)
        12. Have you ever threatened or tried to commit suicide?
        13. Has he ever threatened or tried to commit suicide?
        14. Does he threaten to harm your children?
        15. Do you have a child that is not his?
        16. Is he unemployed?
        17. Have you left him during the past year? (If you never lived with him, check here: ____)
        18. Do you currently have another (different) intimate partner?
        19. Does he follow or spy on you, leave threatening notes, destroy your property, or call you when you don’t
        want him to? 
</form>
