{% extends 'base.html' %}

{% block content %}
    {{block.super}}
<div class="container" style="margin-top:5%">
    <form>
        <label for="">1. Has the physical violence increased in severity or frequency over the past year?</label>
            <br>
            <input type="radio" name="Question1" value="1" required>Yes
            <br>
            <input type="radio" name="Question1">No
            <br><hr>
    
        <label for="">2. Has he ever used a weapon against you or threatened you with a weapon?</label>
            <br>
            <input type="radio" name="Question2" value="1" required>Yes
            <br>
            <input type="radio" name="Question2">No
            <br><hr>

        <label for="">3. Does he ever try to choke you?</label>
            <br>
            <input type="radio" name="Question3" value="1" required>Yes
            <br>
            <input type="radio" name="Question3">No
            <br><hr>

        <label for="">4. Does he own a gun?</label>
            <br>
            <input type="radio" name="Question4" value="1" required>Yes
            <br>
            <input type="radio" name="Question4">No
            <br><hr>
        
        <label for="">5. Has he ever forced you to have sex when you did not wish to do so?</label>
            <br>
            <input type="radio" name="Question5" value="1" required>Yes
            <br>
            <input type="radio" name="Question5">No
            <br><hr>

        <label for="">6. Does he use drugs? By drugs, I mean “uppers” pr amphetamines, speed, angel dust,          cocaine, “crack”, street drugs or mixtures.</label>
            <br>
            <input type="radio" name="Question6" value="1" required>Yes
            <br>
            <input type="radio" name="Question6">No
            <br><hr>        
            
        <label for="">7. Does he threaten to kill you and/or do you believe he is capable of killing you?</label>
            <br>
            <input type="radio" name="Question7" value="1" required>Yes
            <br>
            <input type="radio" name="Question7">No
            <br><hr>        
        
        <label for="">8. Is he drunk every day or almost every day? (In terms of quantity of alcohol.)</label>
            <br>
            <input type="radio" name="Question8" value="1" required>Yes
            <br>
            <input type="radio" name="Question8">No
            <br><hr>
        
        <label for="">9. Does he control most or all of your daily activities? For instance: does he tell you who you can be friends with, when you can see your family, how much money you can use, or when you can take the car?</label>
            <br>
            <input type="radio" name="Question9" value="1" required>Yes
            <br>
            <input type="radio" name="Question9">No
            <br><hr>
        
        <label for="">10. Have you ever been beaten by him while you were pregnant?</label>
            <br>
            <input type="radio" name="Question10" value="1" required>Yes
            <br>
            <input type="radio" name="Question10">No
            <br><hr>
        
        <label for="">11. Is he violently and constantly jealous of you? (For instance, does he say “If I can’t have you, no one can.”)</label>
            <br>
            <input type="radio" name="Question11" value="1" required>Yes
            <br>
            <input type="radio" name="Question11">No
            <br><hr>

        <label for="">12. Have you ever threatened or tried to commit suicide?</label>
            <br>
            <input type="radio" name="Question12" value="1" required>Yes
            <br>
            <input type="radio" name="Question12">No
            <br><hr>

        <label for="">13. Has he ever threatened or tried to commit suicide?</label>
            <br>
            <input type="radio" name="Question13" value="1" required>Yes
            <br>
            <input type="radio" name="Question13">No
            <br><hr>
                
        <label for="">14. Does he threaten to harm your children?</label>
            <br>
            <input type="radio" name="Question14" value="1" required>Yes
            <br>
            <input type="radio" name="Question14">No
            <br><hr>
        
        <label for="">15. Do you have a child that is not his?</label>
            <br>
            <input type="radio" name="Question15" value="1" required>Yes
            <br>
            <input type="radio" name="Question15">No
            <br><hr>

        <label for="">16. Is he unemployed?</label>
            <br>
            <input type="radio" name="Question16" value="1" required>Yes
            <br>
            <input type="radio" name="Question16">No
            <br><hr>
        
        <label for="">17. Have you left him during the past year? </label>
            <br>
            <input type="radio" name="Question17" value="1" required>Yes
            <br>
            <input type="radio" name="Question17">No
            <br><hr>    
            
        <label for="">18. Do you currently have another (different) intimate partner?</label>
            <br>
            <input type="radio" name="Question18" value="1" required>Yes
            <br>
            <input type="radio" name="Question18">No
            <br><hr>

        <label for="">19. Does he follow or spy on you, leave threatening notes, destroy your property, or call you when you don’t want him to? </label>
            <br>
            <input type="radio" name="Question19" value="1" required>Yes
            <br>
            <input type="radio" name="Question19">No
            <br><hr>
        
            <button type="submit" class="btn btn-outline-info" id ="assessment"> Get Assessment Results!</button>

            <br>
            <br>
            <div id="marks"></div>
            <br>
            <div id="comment"></div>
            <br>
        </form>
</div>


{% endblock %}
