{% extends 'base.html' %}

{% block content %}
{{block.super}}

<div class="container repeat" style="padding-top:5%;">
    <h1 style="text-align:center; text-decoration: underline; font-size: 330%">Danger Assessment Test</h1>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <div class="card" style="padding-top:3%">
    <form id="qboxes">
    <div style="padding:1.8%">
        <label for="Question1">1. Are you a victim of domestic violence?</label>
        <br>
        <input type="radio" name="Question1" value="1" required>Yes
        <br>
        <input type="radio" name="Question1" value="0">No
        <br>
        <hr>

        <label for="Question2">2. Has the physical violence increased in severity or frequency over the past
            year?</label>
        <br>
        <input type="radio" name="Question2" value="1" required>Yes
        <br>
        <input type="radio" name="Question2" value="0">No
        <br>
        <hr>

        <label for="Question3">3. Has he/she ever used a weapon against you or threatened you with a weapon?</label>
        <br>
        <input type="radio" name="Question3" value="1" required>Yes
        <br>
        <input type="radio" name="Question3" value="0">No
        <br>
        <hr>

        <label for="Question4">4. Does he/she ever try to choke you?</label>
        <br>
        <input type="radio" name="Question4" value="1" required>Yes
        <br>
        <input type="radio" name="Question4" value="0">No
        <br>
        <hr>

        <label for="Question5">5. Does he/she own a gun?</label>
        <br>
        <input type="radio" name="Question5" value="1" required>Yes
        <br>
        <input type="radio" name="Question5" value="0">No
        <br>
        <hr>

        <label for="Question6">6. Has he/she ever forced you to have sex when you did not wish to do so?</label>
            <br>
            <input type="radio" name="Question6" value="1" required>Yes
            <br>
            <input type="radio" name="Question6" value="0">No
            <br><hr>

        <label for="Question7">7. Does he/she use drugs? By drugs, I mean “uppers” pr amphetamines, speed, angel dust,cocaine, “crack”, street drugs or mixtures.</label>
            <br>
            <input type="radio" name="Question7" value="1" required>Yes
            <br>
            <input type="radio" name="Question7" value="0">No
            <br><hr>        
            
        <label for="Question8">8. Does he/she threaten to kill you and/or do you believe he/she is capable of killing you?</label>
            <br>
            <input type="radio" name="Question8" value="1" required>Yes
            <br>
            <input type="radio" name="Question8" value="0">No
            <br><hr>        
        
        <label for="Question9">9. Is he/she drunk every day or almost every day? (In terms of quantity of alcohol.)</label>
            <br>
            <input type="radio" name="Question9" value="1" required>Yes
            <br>
            <input type="radio" name="Question9" value="0">No
            <br><hr>
        
        <label for="Question10">10. Does he/she control most or all of your daily activities? For instance: does he/she tell you who you can be friends with, when you can see your family, how much money you can use, or when you can take the car?</label>
            <br>
            <input type="radio" name="Question10" value="1" required>Yes
            <br>
            <input type="radio" name="Question10" value="0">No
            <br><hr>

        
        <label for="Question11">11. Is he/she violently and constantly jealous of you? (For instance, does he/she say “If I can’t have you, no one can.”)</label>
            <br>
            <input type="radio" name="Question11" value="1" required>Yes
            <br>
            <input type="radio" name="Question11" value="0">No
            <br><hr>

        <label for="Question12">12. Have you ever threatened or tried to commit suicide?</label>
            <br>
            <input type="radio" name="Question12" value="1" required>Yes
            <br>
            <input type="radio" name="Question12" value="0">No
            <br><hr>

        <label for="Question13">13. Has he/she ever threatened or tried to commit suicide?</label>
            <br>
            <input type="radio" name="Question13" value="1" required>Yes
            <br>
            <input type="radio" name="Question13" value="0">No
            <br><hr>
                
        <label for="Question14">14. Does he/she threaten to harm your children?</label>
            <br>
            <input type="radio" name="Question14" value="1" required>Yes
            <br>
            <input type="radio" name="Question14" value="0">No
            <br><hr>
        

        <label for="Question15">15. Is he/she unemployed?</label>
            <br>
            <input type="radio" name="Question15" value="1" required>Yes
            <br>
            <input type="radio" name="Question15" value="0">No
            <br><hr>
        
        <label for="Question16">16. Have you left during the past year? </label>
            <br>
            <input type="radio" name="Question16" value="1" required>Yes
            <br>
            <input type="radio" name="Question16" value="0">No
            <br><hr>    
            
        <label for="Question17">17. Do you currently have another (different) intimate partner?</label>
            <br>
            <input type="radio" name="Question17" value="1" required>Yes
            <br>
            <input type="radio" name="Question17" value="0">No
            <br><hr>

        <label for="Question18">18. Does he/she follow or spy on you, leave threatening notes, destroy your property, or call you when you don’t want him/her to? </label>
            <br>
            <input type="radio" name="Question18" value="1" required>Yes
            <br>
            <input type="radio" name="Question18" value="0">No
            <br><hr>

        <button type="submit" class="btn btn-outline-black" id="assessment" style="color:white" data-toggle="modal"
            data-target="#centralModalWarning"> Get Assessment Results!</button>

        <!-- Central Modal Medium Warning -->
        <div class="modal fade" id="centralModalWarning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-notify modal-warning" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="headinglead">Assessment Results!</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSllTaBT7JTRXYusTfzUkQKabD9R3qsg2b7_NsRjo7vOoRuNUY" alt="">
                        </div>
                        
                        <div class="text-center">
                            <div id="marks"></div>
                            <br>
                            <div id="comment"></div>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <a type="button" class="btn btn-warning waves-effect" data-dismiss="modal" style="color:black">Close</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- Central Modal Medium Warning-->
    </div>
    </form>
        </div>
    <div class="col-md-1"></div>
        </div>
    </div>
</div>


{% endblock %}