<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-3">
                <i class="fas fa-ribbon fa-3x fa-rotate-180"></i>
              </div>
              <div class="col-md-9">
                <h3 class="text-white">Mshauri Connect</h3>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <ul>
                  <span class="bullet">Home</span>
                <a href="#about"><li>About</li></a>
                <a href="#serve"><li>Services</li></a>
                <a href="#testi"><li>Testimonials</li></a>  
                </ul>
              </div>
              <div class="col-md-6">
                <ul>
                  <a href="#"><li>Facebook</li> </a>
                  <a href="#"><li>Twitter</li> </a>
                  <a href="#"><li>Instagram</li> </a>
                  <a href="#"><li>YouTube</li> </a>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="text-center text-white">2019 Copyright © Mshauri Connect</p>
      </div>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->