{% extends 'base.html' %}

{% block content %}
{{block.super}}

<!-- here comes the magic -->
<div class="container-fluid forums">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-2">
        <img src="https://www.netflixanimation.com/static/images/Writing.png" alt="" height="100px" width="100px">
      </div>
      <div class="col-md-8">
        <div class="output" id="output">
          <h1 class="cursor"></h1>
          <p></p><br><br><br>
          <a href="{%url 'new-post'%}"><h3 class="text-center btn btn-outline-success tell">Tell your story now</h3></a>
        </div>
      </div>
      <div class="col-md-2">
        <img src="https://image.freepik.com/free-vector/illustration-pen-icon_53876-5590.jpg" alt="" class="rounded-circle" width="100px" height="100px">
      </div>
    </div>

  </div>
</div>
<!-- here ends the magic -->
<br><br>
<div class="container-fluid">
  <div class="container">
    <h1 class="text-center"><b>Top Stories</b></h1><hr>
    <h5><i>From undeniably sweet partners turned monsters to notorious assailants, here are the top 3 articles from victims, and assailants that we've come across this week!</i></h5>
    <div class="row top_stories">
      {%for post in posts|slice:":10"%}
        <div class="col-md-4">
          <div class="card">
            <img class="card-img" src="https://images.pexels.com/photos/731753/pexels-photo-731753.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
              <h2 class="card-title">{{post.forum_title}}</h2>
              <h6 class="card-subtitle mb-2">{{post.post_date}}</h6>
              <p class="card-text">Another one from {{post.post_user}}. </p>
              <div class="link d-flex">
                <a href="#" class="card-link text-warning">Read More</a>
              </div>
            </div>
          </div>

        </div>
      {%endfor%}
    </div>
  </div>
</div>
<br><br><br>
<div class="container-fluid maps" style="padding:3%">
    <h1 class="text-center"><b>All Stories</b></h1><hr>
    <h5 class="text-center"><i>Connect with other users through the experieces and get to hear and offer a listening ear!</i></h5>
  {%for post in posts%}
  <div class="col-md-4">
    <div class="card">
      <img class="card-img" src="https://images.pexels.com/photos/731753/pexels-photo-731753.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Bologna">
      <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
        <h2 class="card-title">{{post.forum_title}}</h2>
        <h6 class="card-subtitle mb-2">{{post.post_date}}</h6>
        <p class="card-text">Another one from {{post.post_user}}. </p>
        <div class="link d-flex">
          <a href="#" class="card-link text-warning">Read More</a>
        </div>
      </div>
    </div>

  </div>

  {%endfor%}
</div>

<script src="js/carousel.js"></script>

<br><br><br><br>

{%include 'footer.html'%}

{% endblock %}