<!--/.Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-gray">
  <a class="navbar-brand" href="/"><i class="fas fa-ribbon fa-rotate-180 fa-2x"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation" style="color:black;">
    <span class="navbar-toggler-icon" style="color:black;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <!-- options -->
    <ul class="navbar-nav mr-auto">
      <a class="nav-link" href="/">Home
        <span class="sr-only">(current)</span>
      </a>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'awareness' %}">Awareness</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'forums' %}">Forums</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'foundation' %}">Foundations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Donate</a>
      </li>
    </ul>

    <!-- right -->
    <ul class=" navbar-nav mr-5">
      <li class="nav-item mr-sm-2">
        {% if user.is_authenticated %}
      <li class="dropdown">
        <a class="nav-link" href="" data-toggle="dropdown" role="button"><img
            src="https://image.flaticon.com/icons/png/128/118/118781.png" alt=""
            style="width:30px;height:30px;"></i></a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a style="font-size:15px;" href="{%url 'NewProfile'%}">Profile</a>
          </li>
          <a style="font-size:15px;" href="/edit_profile">Change Status</a>
          <li>
            <a style="font-size:15px;" href="/logout">Logout</a>
          </li>
        </ul>
      </li>

      {% else %}
      <li>
        <a style="font-size:15px;color: white" class='btn btn-outline-default' href="/accounts/login">REGISTER/LOGIN</a>
      </li>

      {% endif %}
      </li>

    </ul>
  </div>

</nav>