{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            {%for test in tests%}
            <div style="padding:1%">
                <div class="card">
                    <div style="margin:3%">
                    <br>
                    <p class=""> {{test.question}}</p>
                    <hr>
                        <i style="float:right" >
                        <form class="" action="" method="post">
                            {%csrf_token%}
                            <input type="hidden" name="dislike" value="{{test.id}}">
                            <button type="submit" name="button">yes</button>
                        </form></i>
                        <i><form class="" action="" method="post">
                            {%csrf_token%}
                            <input type="hidden" name="like" value="{{test.id}}">
                            <button type="submit" name="button">No</button>
                        </form></i>             
                </div>
            </div>
            </div>
      
            {%endfor%}

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">

        </div>
    </div>
</div>
{% endblock %}