{%extends 'base.html'%}

{% block content %}
{%include 'navbar.html'%}

<div class="container-fluid landing">
  <br><br>
<!-- ngoja this is a mess -->



  <!-- hadi hapa -->
  <div class="connects">
    <i class="fas fa-hands-helping rounded-circle text-white fa-4x"></i>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-3">
      {%include 'carousel.html'%}
    </div>
    <div class="col-md-6">
      <h1 class="text-center"><b>With us, every story matters.</b></h1>
      <div class="tagline">
        <br>
        <p class="text-center tagline text-white">Providing victims of gender-based violence from all over Kenya with the opportunity to tell their stories, and even better, connect with people who can help them.</p>
      </div>
      <br><br><br>
      <h3 class="text-center">Are you at risk of an attack from your partner?</h3>
      <h5 class="text-center text-white">Find out now using our diagnostic test</h5>
      <div class="btn-center">
        <button type="button" class="btn btn-outline-success btn-center" name="button">Take the diagnostic test</button>
      </div><br><br>

    </div>
    <div class="col-md-3">

    </div>
  </div>




</div>

<!-- section two -->

{% endblock %}
