{%extends 'base.html'%}

{% block content %}

<div class="container-fluid landing">
  <br><br>
  <!-- ngoja this is a mess -->

  <!-- hadi hapa -->
  <div class="connects">
    <i class="fas fa-hands-helping rounded-circle text-white fa-4x"></i>
  </div>
  <br><br>
  <div class="row" id="about">
    <div class="col-md-3 hide">
      {%include 'carousel.html'%}
    </div>
    <div class="col-md-6">
      <h1 class="text-center"><b>With us, every story matters.</b></h1>
      <div class="tagline">
        <br>
        <p class="text-center tagline text-white">Providing victims of gender-based violence from all over Kenya with
          the opportunity to tell their stories, and even better, connect with people who can help them.</p>
      </div>
      <br><br><br>
      <h3 class="text-center">Are you at risk of an attack from your partner?</h3>
      <h5 class="text-center text-white">Find out now using our diagnostic test</h5>
      <div class="btn-center">
        <a class="btn btn-info btn-center" href="{% url 'tests' %}">Danger Assessment</a>
      </div><br><br>

    </div>
    <div class="col-md-3">

    </div>
  </div>




</div>
<br><br>
<!-- section two -->
<div class="container-fluid">
  <div class="stats">
    <img
      src="https://i.cbc.ca/1.2989800.1426030005!/fileImage/httpImage/image.jpg_gen/derivatives/original_780/spousal-violence.jpg"
      alt="stats" class="stats">
  </div>
</div> 

<br><br>
<div class="container-fluid services" id="serve">
  <br>
  <h1 class="text-center"><b>What We Offer</b></h1>
  <br><br>
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <div class="serve"><img class="card-img-top rounded-circle" src="static/media/speak.png" alt="Card image cap"
            height="70px" width="70px"></div>
        <div class="card-body">
          <h5 class="card-title text-center"><b>Your Story Matters</b></h5>
          <p class="card-text text-center">Find a home telling your story and viewing stories from hundreds of others in
            your position</p>
          <p class="text-center"><a href="{% url 'foundation' %}" class="more">Share</a></p>
        </div>
      </div>
      <div class="card">
        <div class="serve"><img class="card-img-top rounded-circle" src="static/media/better.jpg" alt="Card image cap"
            height="70px" width="70px"></div>

        <div class="card-body">
          <h5 class="card-title text-center"><b>Be Aware</b></h5>
          <p class="card-text text-center">Next time they try to victimise you, know what to look out for, and how to
            protect yourself through our awareness forum</p>
          <p class="text-center"><a href="{% url 'awareness' %}" class="more">Learn</a></p>
        </div>
      </div>
      <div class="card">
        <div class="serve"><img class="card-img-top rounded-circle" src="static/media/mama.jpg" alt="Card image cap"
            height="70px" width="70px"></div>
        <div class="card-body">
          <h5 class="card-title text-center"><b>Connect</b></h5>
          <p class="card-text text-center">Talk to a professional of your choice right here. You don't have to worry
            about where to start anymore.</p>
          <p class="text-center"><a href="{% url 'specialist' %}" class="more">Connect</a></p>
        </div>
      </div>
    </div>
  </div><br><br>
</div>
<br><br>
<div class="container-fluid testi" id="
testi">
  <h1 class="text-center"><b>Testimonials</b></h1>
  <h5 class="text-center">Every day, one more person becomes a victim of Gender-Based Violence. See what victims on this
    site have to say about their experience</h5>

  <div class="container">
    <div class="card-deck">
      <div class="card">
        <div class="serve"><img class="card-img-top rounded-circle" src="static/media/anon.jpg" alt="Card image cap"
            height="70px" width="70px"></div>
        <p class="text-center text-muted">Anonymous, Likoni.</p>
        <div class="card-body">
          <p class="card-text text-center">"I love the anonymity here. I was always afraid to come clean because I
            thought it was weak for a man to be beaten by his wife. I met Mshauri's here and I am in a better position
            to handle my aggressive partner"</p>

        </div>
      </div>
      <div class="card">
        <div class="serve"><img class="card-img-top rounded-circle" src="static/media/fida.png" alt="Card image cap"
            height="70px" width="70px"></div>
        <p class="text-center text-muted">FIDA Organisation,Kenya.</p>
        <div class="card-body">
          <p class="card-text text-center">"We're in a better position to help victims now that they come to us freely.
            This has truly been a milestone in fighting our crisis!"</p>
        </div>
      </div>
      <div class="card">
        <div class="serve"><img class="card-img-top rounded-circle" src="static/media/fight.jpeg" alt="Card image cap"
            height="70px" width="70px"></div>
        <p class="text-center text-muted">Elizabeth Kimita, Kigali.</p>
        <div class="card-body">
          <p class="card-text text-center">"I always thought I was alone. You have no idea how relieved I was to see
            people from other parts with my story. It gives me the will to fight, the will to survive."</p>
        </div>
      </div>
    </div>
  </div><br><br>
</div>

</div>
<br>
{%include 'footer.html'%}
{% endblock %}